{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block page_content %}
<section id="app" class="section">
    <div class="columns">
        <div class="column is-2">
            {% include "menu.html" %}
        </div>
        <div class="column">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <nav class="panel">
                            <p class="panel-heading">
                                Projects
                            </p>
                            <div class="panel-block" @click="prompt">
                                <span class="panel-icon">
                                    <i class="mdi mdi-folder-plus-outline mdi-18px" aria-hidden="true"></i>
                                </span>
                                <b-tooltip label="สร้างโปรเจคใหม่" type="is-light is-info">
                                    New project
                                </b-tooltip>
                            </div>
                            <div class="panel-block">
                                <span class="panel-icon">
                                    <i class="mdi mdi-folder-open-outline mdi-18px" aria-hidden="true"></i>
                                </span>
                                <b-tooltip label="เปิดโปรเจคที่สร้างไว้" type="is-light is-info">
                                    Open existing project
                                </b-tooltip>
                            </div>
                            <div class="panel-block">
                                <span class="panel-icon">
                                    <i class="mdi mdi-close-thick mdi-18px" aria-hidden="true"></i>
                                </span>
                                <b-tooltip label="ออกจากโปรแกรม" type="is-light is-info">
                                    Exit
                                </b-tooltip>
                            </div>
                        </nav>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    new Vue({
        el: '#app',
        data() {
            return {
            }
        },
        methods: {
            prompt() {
                let self = this
                this.$buefy.dialog.prompt({
                    message: 'What is your project name?',
                    inputAttrs: {
                        placeholder: 'e.g. My Project',
                    },
                    trapFocus: true,
                    onConfirm: function(value) {
                        axios.get("/projects/api/new", { params: { name: value }
                        }).then((resp)=>{
                            console.log(resp)
                            if(resp.data.success) {
                                self.$buefy.toast.open({
                                    message: "New project folder has been created.",
                                    type: 'is-success'
                                })
                                window.location = '/projects'
                            } else {
                                self.$buefy.toast.open({
                                    message: resp.data.message,
                                    type: 'is-danger'
                                })
                            }
                        })
                    }
                })
            }
        }
    })
</script>
{% endblock %}